.footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 1rem;
    /* margin-top: auto; */
}
.footer::before{
    content: '';
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: rgb(var(--foreground-rgb));
}

.card{
    /* display: block; */
    position: relative;
}

.logo{
    position: relative !important;
    display: inline-block;
    height: 1rem;
    width: 100%;
}

@media (prefers-color-scheme: dark)
{
    .nextjslogo{
        filter: invert(1);
    }
}