.header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    width: 100%;
    position: sticky;
}

.nav {
    list-style: none;
    display: flex;
    position: relative;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    list-style: none;
    display: inherit;
    position: inherit;
}

.link {
    position: relative;
    text-transform: uppercase;
    padding: .5rem;
    margin: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    border-radius: 2px;
    width: 0%;
    background-color: rgb(var(--secondary-color-rgb));
    transition: width .3s;
}

@media (pointer:fine) and (hover:hover) {

    .link:hover::before,
    .link.active::before {
        width: 100%;
        transition: width .3s;
    }
}

.active {
    color: rgb(var(--secondary-color-rgb));
}

@media (prefers-reduced-motion) {
    .link:hover::before {
        width: 0%;
    }
}

/* responsive layout rules */
@media(max-width:701px) {
    .nav-responsive{
        transform: translateY(50%) translateX(200%) !important;
    }

    .nav{
        position: absolute;
        bottom: 0;
        transform: translateY(50%) translateX(0%);
        justify-content: space-evenly;
        align-items: center;
        right: 0;
        left: 0;
    }

    .link{
        font-size: 1 rem;
        margin: 0;
    }
}