:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-color-rgb: 0, 51, 153;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 15, 15, 15;
    --secondary-color-rgb: 0, 51, 153;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    45deg,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb)),
    rgb(var(--background-start-rgb))
  );
}

.root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  max-width: var(--max-width);
  position: relative;
}

.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 5;
  padding: 0 1rem;
  width: 100%;
  height: 100%;

  /* https://grabient.com/HQBgrAzANKAsAcMT0cAjLAnDNYDsOsATDEUSKWicGWlBMHmtA3kS8AGyYRA?style=linearGradient&steps=13&angle=45 */
}

a {
  color: inherit;
  text-decoration: none;
}

.highlight {
  color: rgb(var(--secondary-color-rgb));
}

$transforms: "uppercase", "capitalize", "lowercase";

@each $t in $transforms {
  .#{$t} {
    text-transform: #{$t};
  }
}

@for $i from 2 through 10 {
  .font-size-#{$i}-rem {
    font-size: #{$i}rem;
  }

  .font-size-#{$i}-em {
    font-size: #{$i}em;
  }

  @media (min-width: 701px) and (max-width: 1120px) {
    .font-size-#{$i}-rem {
      font-size: #{($i)-1.5}rem;
    }

    .font-size-#{$i}-em {
      font-size: #{($i)-1}em;
    }
  }

  @media (max-width: 701px) {
    @if ($i) - 2.5 < 1 {
      .font-size-#{$i}-rem {
        font-size: #{($i)-1}rem;
      }
    } @else {
      .font-size-#{$i}-rem {
        font-size: #{($i)-2}rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
