.footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 1rem;
    margin-top: 10px;
}

.footer::before {
    content: '';
    width: 100vw;
    position: absolute;
    top: 0;
    height: 1px;
    background: rgb(var(--foreground-rgb));
    opacity: .2;
}

.card {
    position: relative;
    display: block;
    height: 100%;
}

.logo {
    /*position: relative !important;*/
    display: inline-block;
    height: 16px;
    width: 100%;
}

.nextjslogo {
    opacity: .6;
}

@media (prefers-color-scheme: dark) {
    .nextjslogo {
        filter: invert(1);
    }
}